<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WireRodClassifer_1._0.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <WireRodClassifer_1._0.Properties.Settings>
            <setting name="IsConfiguredSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsDefaultSetting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitDeptSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CameraTypeSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="ColorSpaceSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DeviceSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="DLLNameSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="FieldSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="GenericSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResolutionXSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ResolutionYSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageWidthSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImageHeightSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartRowSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StartColumnSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExternalTriggerSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="LineInSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default6" serializeAs="String">
                <value />
            </setting>
            <setting name="default7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default8" serializeAs="String">
                <value />
            </setting>
            <setting name="default9" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default10" serializeAs="String">
                <value />
            </setting>
            <setting name="default11" serializeAs="String">
                <value />
            </setting>
            <setting name="default12" serializeAs="String">
                <value />
            </setting>
            <setting name="default13" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default14" serializeAs="String">
                <value>0</value>
            </setting>
        </WireRodClassifer_1._0.Properties.Settings>
    </userSettings>
</configuration>
